{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="main-title">Map My Legacy</h1>
                    <p class="lead">Visualize your ancestors' life-stories</p>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                        </div>
                        <div class="col-lg-6 text-center">
                        {% if request.session.fs_access_token %}
                            <a href="http://scoutcharter-21273.usw1.actionbox.io:3000/select-person" class="btn btn-success btn-lg">Start here</a>
                        {% else %}
                            <a href="https://sandbox.familysearch.org/cis-web/oauth2/v3/authorization?response_type=code&client_id=WCQY-7J1Q-GKVV-7DNM-SQ5M-9Q5H-JX3H-CMJK&redirect_uri=http://scoutcharter-21273.usw1.actionbox.io:3000/select-person" class="btn btn-success btn-lg">Log in with FamilySearch</a>
                        {% endif %}
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="col-lg-3 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
