{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="main-title">Map My Legacy</h1>
                    <p class="lead">Visualize your ancestors' life-stories</p>
                    <div class="row">
                        <div class="col-lg-3 text-center">
                        </div>
                        <div class="col-lg-6 text-center">
                            <a href="{{ fs_auth_url }}" class="btn btn-success btn-lg">Sign in using FamilySearch</a>
                            <br />
                            <br />
                            <br />
                        </div>
                        <div class="col-lg-3 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

