<html>
    <head>
        <!-- Use quintus-all.min.js for production -->
        <script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    </head>
    <body>
        <script>
            $(function() {
                /*
                $.ajax({
                    url: '...',
                    type: 'get',
                    success: function(portraits_json) {
                        console.log('wwwwwwwwwwwww');
                        console.log(portraits_json);
                    }
                });
                */
                var people = {{ photos|safe }};
                console.log(people);
                /*
                var people = [{'filename': 'the.jpg', 'relation': 'P'  , 'name': 'Rulon Mareton'},
                            {'filename': 'b.png', 'relation': 'F'  , 'name': 'Talon Mareton'},
                            {'filename': 'c.png', 'relation': 'M'  , 'name': 'Hattie Bridges'},
                            {'filename': 'd.png', 'relation': 'FF' , 'name': 'Paren Mareton'},
                            {'filename': 'e.png', 'relation': 'FM' , 'name': 'Gertrude Polimon'},
                            {'filename': 'f.png', 'relation': 'MF' , 'name': 'Aleck Bridges'},
                            {'filename': 'g.png', 'relation': 'MM' , 'name': 'Raquel Kripps'}
                            ];
                */

                var Q = Quintus({development: true,
                                imagePath: '/static/img/',
                                audioPath: '/static/audio/',
                                dataPath: '/static/data/'})
                        .include("Sprites, Scenes, Input, 2D, Touch, UI")
                        .setup({ maximize: true })
                        .controls().touch()
                    
                Q.Sprite.extend("Player",{
                    init: function(p) {
                        this._super(p, { sheet: "player", x: 410, y: -100, speed: 400, jumpSpeed: -500 });
                        this.add('2d, platformerControls');
                        
                        this.on("hit.sprite",function(collision) {
                            if(collision.obj.isA("Spot")) {
                                console.log(collision.obj);
                                console.log(collision.obj.p.asset);
                                console.log(this.p.asset);
                                if (collision.obj.p.person_id == 'KWWY-2Q3') {
                                    console.log('replace')
                                    collision.obj.p.asset = 'b.png';
                                    this.p.sheet = 'player';
                                    this.p.asset = '';
                                }
                            }
                            if(collision.obj.isA("Picture")) {
                                this.p.sheet = '';
                                this.p.asset = 'the.jpg';
                                this.size(true);
                                collision.obj.destroy();
                            }
                        });
                    }
                });

                Q.Sprite.extend("Spot", {
                    init: function(p) {
                        this._super(p, {
                            person_id: 1,
                            asset: 'spot.png'
                        });
                        this.add('2d, aiBounce');
                    }
                });

                Q.Sprite.extend("Picture", {
                    init: function(p) {
                        this._super(p, {
                            asset: 'the.jpg'
                        });
                        this.add('2d, aiBounce');
                    }
                });

                Q.Sprite.extend("Enemy",{
                    init: function(p) {
                        this._super(p, { sheet: 'enemy', vx: 100 });
                        this.add('2d, aiBounce');
                    }
                });

                Q.scene("level1",function(stage) {
                    stage.collisionLayer(new Q.TileLayer({ dataAsset: 'level.json', sheet: 'tiles' }));

                    var player = stage.insert(new Q.Player());
                    stage.add("viewport").follow(player);
                    
                    stage.insert(new Q.Enemy({ x: 700, y: 400 }));
                    stage.insert(new Q.Enemy({ x: 800, y: 400 }));

                    for (i=0; i<people.length; i++) {
                        // 740 = middle
                        var x = 224 * i + 112;
                        var spot = stage.insert(new Q.Spot({
                            x: x,
                            y: 0,
                            person_id: people[i].person_id
                        }));
                        stage.insert(new Q.UI.Text({ 
                            label: people[i].name,
                            color: "black",
                            x: 0,
                            y: 65
                        }), spot);
                    }




                });

                var load_string = 'sprites.png, sprites.json, level.json, tiles.png, spot.png';
                for (i=0; i<people.length; i++) {
                    load_string += ', ' + people[i].filename;
                };

                console.log(load_string);

                Q.load(load_string, function() {
                    Q.sheet("tiles","tiles.png", { tilew: 32, tileh: 32 });
                    Q.compileSheets("sprites.png","sprites.json");
                    Q.stageScene("level1");
                });
            });
        </script>
    </body>
</html>
