<html>
    <head>
        <!-- Use quintus-all.min.js for production -->
        <script src='http://cdn.html5quintus.com/v0.2.0/quintus-all.js'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
    </head>
    <body>
        <script>
            $(function() {
                var rel_coords = {    4: {x: 112, y: -46},
                                    2: {x: 336, y: 50},
                                      5: {x: 560, y: -46},
                                  1: {x: 784, y: 146},
                                      6: {x: 1008, y: -46},
                                    3: {x: 1232, y: 50},
                                      7: {x: 1456, y: -46}
                             }
                var people = {{ photos|safe }};

                var Q = Quintus({development: true,
                                imagePath: '/static/img/',
                                audioPath: '/static/audio/',
                                dataPath: '/static/data/'})
                        .include("Sprites, Scenes, Input, 2D, Touch, UI")
                        .setup({ maximize: true })
                        .controls().touch()
                    
                Q.Sprite.extend("Player",{
                    init: function(p) {
                        this._super(p, { sheet: "player", x: 410, y: -100, speed: 400, jumpSpeed: -500 });
                        this.add('2d, platformerControls');
                    }
                });

                Q.UI.Container.extend("Spot", {
                    init: function(p) {
                        this._super(p, {
                            sort: true,
                            person_id: 1,
                            asset: 'c.png'
                        });
                    }
                });

                Q.Sprite.extend("Picture", {
                    init: function(p) {
                        this._super(p, {
                            person_id: 1,
                            asset: 'c.png'
                        });
                        this.add('2d, aiBounce');
                        this.on('bump.top', function(collision) {
                            if(collision.obj.isA('Player')) {
                                if (this.p.person_id == 'KWWY-2Q3') {
                                    collision.obj.p.vy = -300;
                                    this.p.opacity = 1;
                                }
                            }
                        });
                    }
                });

                Q.Sprite.extend("Enemy",{
                    init: function(p) {
                        this._super(p, { sheet: 'enemy', vx: 100 });
                        this.add('2d, aiBounce');
                    }
                });

                Q.scene("level1",function(stage) {
                    stage.collisionLayer(new Q.TileLayer({ dataAsset: 'level.json', sheet: 'tiles' }));

                    var player = stage.insert(new Q.Player());
                    stage.add("viewport").follow(player);
                    
                    stage.insert(new Q.Enemy({ x: 700, y: 0 }));
                    stage.insert(new Q.Enemy({ x: 800, y: 0 }));

                    for (i=0; i<people.length; i++) {
                        var spot = stage.insert(new Q.Spot({
                            fill: "gray",
                            stroke: '#5a5a5a',
                            border: 0,
                            x: rel_coords[people[i].relation]['x'],
                            y: rel_coords[people[i].relation]['y'],
                            person_id: people[i].person_id
                        }));

                        var label = stage.insert(new Q.UI.Text({ 
                            label: people[i].name,
                            color: "black",
                            x: 0,
                            y: 65,
                        }), spot);

                        var picture = stage.insert(new Q.Picture({
                            asset: people[i].filename,
                            opacity: .22,
                            x: 0,
                            y: 0,
                            person_id: people[i].person_id
                        }), spot);
                    }
                });

                var load_string = 'sprites.png, sprites.json, level.json, tiles.png, c.png';
                for (i=0; i<people.length; i++) {
                    load_string += ', ' + people[i].filename;
                };

                console.log(load_string);

                Q.load(load_string, function() {
                    Q.sheet("tiles","tiles.png", { tilew: 32, tileh: 32 });
                    Q.compileSheets("sprites.png","sprites.json");
                    Q.stageScene("level1");
                });
            });
        </script>
    </body>
</html>
