{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="main-title">Select individual</h1>
                    <div class="row">
                        <div class="col-lg-5 text-center">
                            <div class="well">
                                <p>Search by name or FamilySearch person id</p>
                                <input type="text" />
                            </div>
                        </div>
                        <div class="col-lg-2 text-center">
                            <h2>or</h2>
                        </div>
                        <div class="col-lg-5 text-center">
                            <div class="well">
                                <p>Select an individual from youre family tree</p>
                                {{ r_ancestry_json }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

